@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*****css variable*****/
:root{
     /* --primary-color:#EC4899;   */
    --primary-color:#b71a3b;  
    --dark:#7e0f12;
    --peach:#f79970;
    --light:#ffbf66;
    --green:#6a7045;
    --gray:#6B7280;
    --dark-grey:#1B2631;
    --off-white:#fdfaf9; 
    
}
body{
    font-family: 'Source Sans Pro', sans-serif; 
    margin: 0px;
}

span{
    font-weight: bold;
}

#lib-header{
    color: var(--primary-color);
}

/* navigation */
.navigation{
    background-color: var(--dark);
    font-family: 'Oleo Script', cursive;
    /* color: #dafaf3; */
    padding: 1.5rem;
    /* border-bottom-left-radius: 1rem; */
}
.nav-brand{
    float: left; 
    font-weight: bold;
    font-size: 1.8rem;
}
.navigation .nav-pills{
    text-align: right;
    font-size: 1.2rem;
}

.navigation .link{
    color: var(--peach);
    position: relative;
    /*float: right;*/
}
.link:hover{
    color:var(--light);
}
/***active link***/
#page1, #page2, #page3{
    color: var(--light) !important; 
    font-weight: bold;
    /* border-bottom: 3px solid var(--light); */
      
}
.link-active:hover{
    color: white;
}


/************ header ***********/
.intro-header{
    padding: 5rem;
     /* background-color: #F5FCFC;    */
    background-color: var(--dark);   
    
    flex-grow: 1;
}
.intro-header .dev-img{
    max-width: 30%;
    height: auto;
    float: right;
    display: block;
}


.intro-heading{
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    text-align: justify;
     /* color: var(--gray);   */
    color: white;  
    /* font-family: 'Lobster', cursive;  */
}

.intro-heading p{
    margin: 1rem 0;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}
.name-highlight{
    color: #ffbf66; 
    /* color: var(--dark); */
}

/*************container***********/
.container{
    padding: 0 1rem;
    margin: auto;
}
.container h1{
    font-size: 2rem;
    text-align: center;
    color: var(--dark-grey);
}
.container-center{
    /* max-width: 950px;  */
    margin: auto;
}

.container-center p{
    font-size: 20px;
    text-align: center;
}

/************* technologies **********/
.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.techlist{
    justify-content: space-around;
    padding: 1rem ;
    margin: 1rem 0;
}
.tech-logo img{
    height: 80px;
    display: block;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.tech-logo img:hover{
    height: 95px;
}
.text-center{
    text-align: center;
    text-decoration: none;
    color: var(--gray);
}
.text-center:hover{
    color: var(--dark);
}

/*********** projects **************/

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.proj{
    margin:1rem 11rem;
}
.proj a{
    text-decoration: none;
    float: right; 
    color: var(--primary-color); 
    border-bottom: 2px solid var(--primary-color);
    
}

/* Style the counter cards */
.card{
    max-width: 70vh;   
    position: relative; 
    padding: 0px 15px;
    min-height: 240px; 
    border: 1px solid #ccc;
    margin: 0.8rem 1rem;
    text-align: justify;
    overflow: hidden;

}

.card:hover,.blog-card:hover{
    border: 1.32px solid var(--primary-color);
}

.phover:hover{
    color: #eca33c;
    border-bottom: 2px solid #eca33c;
}

.proj-info,.blog-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.tags{
    width: fit-content;
    text-align: justify;
    background-color: #fdf3f5;
    padding: 2px;
    /* color: var(--primary-color); */
    color: var(--dark);
    margin-top: 12px;
}

.prj-desc,.b-desc,.blog-desc{
    position: relative;
    flex-grow: 1;
    text-align: justify;
    /* flex-shrink: 1; */
}

.proj-info h2, .blog-info h2{
    color: var(--dark-grey);
    overflow: hidden;
    font-size: 1.4rem;
}
.proj-info p, .blog-info p{
    text-align: justify;
    font-size: 18px;
    padding-top: 20px;
    word-wrap: break-word;
    
}

.btn{
    position: absolute;
    bottom: 0;
    /* padding-top: 15px; */
    margin-bottom: 18px;
}

/**************blogs**********/
.blog-card{
    max-width: 74%;
    /* height: auto; */
    margin: 1rem;
    position: relative; 
    padding: 0px 15px;
    min-height: 230px; 
    border: 1px solid gray;  
    text-align: justify;
    overflow: hidden;
}
.blog-info{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start; */
    padding: 10px;
}

/* fade out text */
.blog-card .b-desc::after{
    content: '';
    width: 100%;
    left: 0;
    background: linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(255,255,255,0.25) 100%);
    height: 18px;
    position: absolute;
    bottom: 1px;
}


/**links**/
.link{
    text-decoration: none;
    padding: 8px 15px;
}
.link-primary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}
 .link-primary:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color: var(--light);
}
.link-secondary{
    color: #e5a043;
    border: 1.5px solid #e5a043;
    border-radius: 0.5rem;
    font-weight: 500;
}

.link-secondary:hover{
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 0.5rem;
}

/* lists */
.list-non-bullet {
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.2rem;
}


/* section */
.section{
    padding: 2.5rem;
}
.section h3{
    text-align: center;  
}
.ow{
    background-color: var(--off-white);
}
button{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

/* footer */
.footer{
    background-color: var(--primary-color);
    padding: 20px ;
    font-family: 'Oleo Script', cursive;
    /* text-align: center; */
    color: var(--peach);
    margin-top: 4rem;
    
}
.footer-header{
    text-align: right;
    padding-bottom: 12px;
    margin-right: 4rem;
    font-size: 18px;
}
.footer .link{
    color: var(--peach);
    /* font-size: 1rem; */
}
.footer .link:hover{
    color: var(--light);
}

.social-links{
    text-align: right;
}
.fab{
    font-size: 30px;
}




/* to make links in center do following 
.footer ul
    padding-inline-start: 0px;
}*/