@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*****css variable*****/
:root{
     /* --primary-color:#EC4899;   */
      --primary-color:#06B6D4;  
      /* --primary-color:#D946EF;   */
    --gray:#6B7280;
    --dark-grey:#616875;
    --off-white:#FAFAFA; 
    /* --off-white:#FAFAFA; */
}
body{
    font-family: 'Crimson Text', serif; 
    margin: 0px;
}

span{
    font-weight: bold;
}

#lib-header{
    color: var(--primary-color);
}

/* navigation */
.navigation{
    background-color: var(--primary-color);
    font-family: 'Akaya Telivigala', cursive;
    color: white;
    padding: 1.5rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-pills{
    text-align: right;
    font-size: 1.2rem;
}

.navigation .link{
    color: white;
    /*float: right;*/
}
.navigation .link-active{
    font-weight: bold  ;
    border-bottom: 3px solid white;
    border-width: 10%;
    border-radius: 50%;
    
}

/************ header ***********/
.intro-header{
    padding: 5rem;
    background-color: #F0F9FF;
    flex-grow: 1;
}
.intro-header .dev-img{
    max-width: 30%;
    height: auto;
    float: right;
    display: block;
}
.intro-heading{
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    text-align: justify;
    color: var(--gray);
    font-family: 'Abhaya Libre', serif; 
}

.intro-heading p{
    margin: 1rem 0;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}
.name-highlight{
    color: #0891B2;
}

/*************container***********/
.container{
    padding: 0 1rem;
    margin: auto;
}
.container h1{
    font-size: 2rem;
    text-align: center;
}
.container-center{
    /* max-width: 950px;  */
    margin: auto;
}

.container-center p{
    font-size: 20px;
    text-align: center;
}

/************* technologies **********/
.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.techlist{
    justify-content: space-around;
    padding: 1rem ;
    margin: 1rem 0;
}
.tech-logo img{
    height: 80px;
    display: block;
}
.text-center{
    text-align: center;
    text-decoration: none;
    color: var(--gray);
}

/*********** projects **************/

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.proj{
    margin:1rem 11rem;
}
.proj a{
    padding: 3px 8px;
    text-decoration: none;
    float: right; 
    background-color: #EC4899; 
    color: white; 
    border-radius: 10px;
    
}

/* Style the counter cards */
.card{
    max-width: 70vh;   
   
    /* max-width: 400px; */
    position: relative; 
    padding: 0px 15px;
    min-height: 240px; 
    border: 1px solid gray;
    margin: 0.8rem 1rem;
    text-align: justify;
    overflow: hidden;
    

}

.card:hover,.blog-card:hover{
    border: 1.3px solid var(--primary-color);
}

.proj-info,.blog-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.tags{
    text-align: justify;
    background-color: var(--off-white);
    color: var(--primary-color);
    margin-top: 8px;
}

.prj-desc,.b-desc,.blog-desc{
    position: relative;
    flex-grow: 1;
    /* flex-shrink: 1; */
}

.proj-info h2, .blog-info h2{
    color: var(--dark-grey);
    overflow: hidden;
}
.proj-info p, .blog-info p{
    text-align: justify;
    font-size: 18px;
    padding-top: 20px;
    
}

.btn{
    position: absolute;
    bottom: 0;
    /* padding-top: 15px; */
    margin-bottom: 18px;
}

/**************blogs**********/
.blog-card{
    max-width: 70%;
    /* height: auto; */
    margin: 2rem;
    position: relative; 
    padding: 0px 15px;
    height: 230px;  
    border: 1px solid gray;  
    text-align: justify;
    overflow: hidden;
}
.blog-info{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start; */
    padding: 10px;
}

/* fade out text */
.blog-card .b-desc::after{
    content: '';
    width: 100%;
    left: 0;
    background: linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(255,255,255,0.25) 100%);
    height: 18px;
    position: absolute;
    bottom: 1px;
}


/* Responsive columns - one column layout (vertical) on small screens */

@media (max-width:440px){
    html{
        font-size: 15px;
    }
   
    .techlist img{
        width: 40px;
    }
    .intro-header .dev-img{
        display: none;
    }
    
    
}
@media screen and (max-width: 767px) {
    .intro-header .dev-img{
        /* max-width: 200px; */
        display: none;
        float: right;
    }

    .proj{
        margin: auto;
    }
    
    .row{
        display: flex;
        flex-direction: column;
    }
    .card {
      min-width: 300px;
      min-height: 300px;
      
    }
   
    
    .btn{
        /* position:relative; */
        bottom: 0;
        margin-top: 1rem;
    }
  
  

    
}

/* tablets */
@media(min-width: 768px) and (max-width: 992px){
    .intro-header.dev-img{
        max-width: 30%; 
        display: block;
        float: right;
    }
    .intro-heading h1{
        font-size: 1.5rem;
    }
    .intro-heading p{
        font-size: 1rem;
    }
    .blog-card{
        min-width: 70%;
        flex-grow: 1;    
    }
}

hr{
    margin: 2rem 0rem;
}

/**links**/
.link{
    text-decoration: none;
    padding: 8px 15px;
}
.link-primary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}
.link-secondary{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

/* lists */
.list-non-bullet {
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.2rem;
}





/* section */
.section{
    padding: 2.5rem;
}
.section h3{
    text-align: center;  
}
.ow{
    background-color: var(--off-white);
}
button{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

/* footer */
.footer{
    background-color: var(--primary-color);
    padding: 20px ;
    font-family: 'Akaya Telivigala', cursive; 
    /* text-align: center; */
    color: white;
    margin-top: 18px;
    border-top-right-radius: 1rem;
}
.footer-header{
    text-align: right;
    padding-bottom: 12px;
    margin-right: 4rem;
    font-size: 18px;
}
.footer .link{
    color: white;
    /* font-size: 1rem; */
}

.social-links{
    text-align: right;
}
.fab{
    font-size: 30px;
}




/* to make links in center do following 
.footer ul
    padding-inline-start: 0px;
}*/